  <div class="outer banner">
 <div class="inner">
  <h1 class="hide">2011 Annual Report: Opening the Gates</h1>
 </div> <!-- /.inner -->
  </div> <!-- /.outer -->

  <div class="outer letter">
 <div class="inner">
  <div class="content">
    <p>The journalists and media organizations of the past century often played the role of the gatekeeper.  They decided which stories were fit to be told and which were not. The role of the public was limited to identifying media sources we entrusted to filter through infinite perspectives and stories for us, select those most relevant, and interpret those stories through a perspective we’d welcome.</p>
    <p>In the old days of the media world, there was a saying that “Content is King and Distribution is Queen,” meaning that the control of the media (and thus, public awareness) lies first in the hands of those who create content, and second in the hands of those who control distribution. Its no secret that this role is shifting. As media technology gets more and more ubiquitous, content creation is democratizing.  Similarly, with a free and open Internet, it’s getting harder and harder to control distribution. The web enables us to filter through the abyss and select stories easier than ever before. Hundreds of our friends play that gatekeeper role for us via Facebook and Twitter, with Google and others watching our tastes and serving up information catered to each of us. The smart media companies are either leading this change, or getting out of the way and helping the inevitable happen sooner.</p>
    <p>OMF is not here to be a better gatekeeper: We’re here to help tear down the gates, and 2011 was a banner year for us in that regard. We launched a new learning lab with over a dozen new training programs, working with partners like the Denver Public Library, Flobots.org, Emily Griffith and KGNU. We upgraded our Open Media Project software, which allows community producers and viewers to determine scheduling for community media operations at Denver Open Media and partner stations across the country. We celebrated our 5th year of Denver Open Media with awards for the top voted content from over 6,000 videos submitted. All steps towards putting the power of the media in the hands of the people.</p>
    <p>Our collective awareness is no longer limited to the agenda of corporate media and the advertisers who sustain them. Mass communications steer our awareness and our values and with the gates opening a little wider every day, the opportunity is here for all of us to contribute.</p>
  </div>
 </div> <!-- /.inner -->
  </div> <!-- /.outer -->

  <div class="outer mission">
 <div class="inner">
  <h2 class="hide">Mission Statement</h2>
  <img src="/themes/minim/img/ar2011/photo-shillouette.jpg" class="shillouette" />
  <div>
  <h3>What we do</h3>
  <p>The Open Media Foundation (OMF) is an innovative media and technology nonprofit organization dedicated to putting the power of the media in the hands of the people, enabling everyone to engage in their community and bring about the change they wish to see in the world.</p>

  <h3>How we do it</h3>
  <p>To accomplish our mission, we begin with providing affordable, high-end web and video production services. We follow up by offering training and tools that enable everyone to represent their own voice in the media conversation.</p>

  <h2 class="history">HISTORY</h2>
  <p>In 2001, Tony Shawcross, Founder and ED of the Open Media Foundation, co-founded a non-commercial website called [<a href="http://www.denverevolution.com/">denverevolution</a>] in order to promote independent arts and non-commercial community events overlooked by local media.  In 2003, members of the denverevolution collective began producing videos for nonprofits as the [denverevolution] production group, borrowing resources from friends at <a href="http://en.wikipedia.org/wiki/KBDI-TV">KBDI</a> (PBS 12), <a href="http://en.wikipedia.org/wiki/Free_Speech_TV">Free Speech TV</a> (FSTV), and Denver Community Television (DCTV).  FSTV provided the first editing station in an office donated by Little Voice Productions.  In 2004 we significantly expanded our media and technology training services, formed the board of directors, and received 501(c)(3) nonprofit designation, incorporated as "Deproduction: The [denverevolution] Production Group." With the closure of Denver Community Television in 2005, we submitted a proposal to re-launch <a href="http://en.wikipedia.org/w/index.php?title=Public_Access_TV&action=edit&redlink=1">Public Access TV</a> in Denver under an entirely new model.  Our unique approach leverages emerging web 2.0 technologies and business models in a community media station that is truly powered by the community. The result, Denver Open Media (DOM) launched in 2006, as an independent brand that could be owned by the community. In 2008, Deproduction merged with Civic Pixel, the local web development firm who had built the DOM website and user-management software, and in 2009, the parent organization merged all efforts into the Open Media Foundation. Denver Open Media remains an independent, community-run project of the parent company.</p>





  </div>

 </div> <!-- /.inner -->
  </div> <!-- /.outer -->

  <div class="outer popserved">
 <div class="inner">

 </div> <!-- /.inner -->
  </div> <!-- /.outer -->

  <div class="sub services">
 <div class="inner">
  <h2 class="hide">2011 Population Served</h2>
  <h3 class="hide">Services</h3>
    <div class="first-row">
   <iframe width="600" height="338" src="http://www.youtube.com/embed/mFtzmc1cMV8" frameborder="0" allowfullscreen></iframe>

     <h4>2011 Video Production Clients</h4>
     <ul class="noliststyle video-clients">
    <li>48 Hour Film Festival</li>
    <li>ACLU of Colorado</li>
    <li>Colorado Nursery & Greenhouse Association</li>
    <li><a href="http://coloradochannel.net/">Colorado State Legislature</a></li>
    <li><a href="http://openmediafoundation.org/node/9578">Colorado United Irish Societies</a></li>
    <li>Community Shares of Colorado</li>
    <li><a href="http://openmediafoundation.org/node/9579">Denver Art Museum</a></li>
    <li>Denver Center for International Studies</li>
    <li>Denver Film Society</li>
    <li><a href="http://openmediafoundation.org/node/9580">Denver Human Services</a></li>
    <li>Denver Indian Family Resource Center</li>
    <li><a href="http://openmediafoundation.org/services/video-production-services/denver-kids-fundraising-video-2010">Denver Kids</a></li>
    <li><a href="http://openmediafoundation.org/services/video-production-services/family-star-fundraising-video-2010-0">Family Star</a></li>
    <li><a href="http://openmediafoundation.org/services/video-production-services/first-nations-development-institute-tocabe">First Nations Development Institute</a></li>
    <li>Massachusetts Democratic Party</li>
    <li>Mayor's Office for Education & Children</li>
    <li><a href="http://openmediafoundation.org/services/video-production-services/evergreen-montessori-give-thrive-2010">Montessori School of Evergreen</a></li>
    <li><a href="http://openmediafoundation.org/services/video-production-services/through-eyes-caregiver-seniors-resource-center-fundraising-video-">Senior's Resource Center</a></li>
    <li><a href="http://openmediafoundation.org/services/video-production-services/tedx-mile-high-salon-2012-michael-huemer">TEDx MileHigh</a></li>
     </ul>
    </div>

  <table>
    <tr>
      <td width="316" valign="top">
     <h4>2011 Web Clients</h4>
     <ul class="noliststyle">
    <li><a href="http://openmediafoundation.org/services/web-design-and-technology-services/2040-partners-health-website-design">2040 Partners for Health</a></li>
    <li><a href="http://openmediafoundation.org/services/web-design-and-technology-services/andre-center-website">Andre Center</a></li>
    <li><a href="http://openmediafoundation.org/services/web-design-and-technology-services/animal-assistance-foundation">Animal Assistance Foundation</a></li>
    <li><a href="http://openmediafoundation.org/services/web-design-and-technology-services/denver-arts-interactive-website-design">Arts & Venues Denver</a></li>
    <li><a href="http://openmediafoundation.org/services/web-design-and-technology-services/backlund-land-surveys-website">Backlund Land Surveys</a></li>
    <li>Bay Area Video Coalition</li>
    <li><a href="http://openmediafoundation.org/services/web-design-and-technology-services/bell-policy-center-website">Bell Policy Center</a></li>
    <li><a href="http://openmediafoundation.org/services/web-design-and-technology-services/boulder-housing-partners-website">Boulder Housing Partners</a></li>
    <li><a href="http://openmediafoundation.org/services/web-design-and-technology-services/boulder-mountainbike-alliance">Boulder Mountainbike Alliance</a></li>
    <li>Brett Family Foundation</li>
    <li><a href="http://openmediafoundation.org/node/9584">Breast & Women's Reproductive Cancers Fund</a></li>
    <li><a href="http://openmediafoundation.org/services/web-design-and-technology-services/colorado-channel-website">Colorado Channel</a></li>
    <li>Colorado Consumer Health Initiative</li>
    <li>Chinook Fund</li>
    <li><a href="http://openmediafoundation.org/services/web-design-and-technology-services/colorado-alliance-environmental-education">Colorado Alliance for Environmental Education</a></li>
    <li><a href="http://openmediafoundation.org/services/web-design-and-technology-services/colorado-breast-cancer-coalition">Colorado Breast Cancer Coalition</a></li>
    <li><a href="http://openmediafoundation.org/services/web-design-and-technology-services/colorado-casa-website-and-subsites">Colorado Casa</a></li>
     </ul>
      </td>
      <td width="316" valign="top">
     <ul class="noliststyle">
    <li><a href="http://openmediafoundation.org/services/web-design-and-technology-services/colorado-channel-website">Colorado Channel</a></li>
    <li><a href="http://openmediafoundation.org/services/web-design-and-technology-services/colorado-humanities-website">Colorado Humanities</a></li>
    <li>Colorado Kids Outdoors</li>
    <li><a href="http://openmediafoundation.org/services/web-design-and-technology-services/colorado-virtual-library">Colorado Library Consortium</a></li>
    <li><a href="http://openmediafoundation.org/node/9585">Colorado Mortgage Lenders Association</a></li>
    <li>Colorado Nursery & Greenhouse Association</li>
    <li><a href="http://openmediafoundation.org/services/web-design-and-technology-services/colorado-participation-project">Colorado Participation Project</a></li>
    <li><a href="http://openmediafoundation.org/services/web-design-and-technology-services/colorado-progressive-coalition-website">Colorado Progressive Coalition</a></li>
    <li><a href="http://openmediafoundation.org/services/web-design-and-technology-services/consortium-health-services-program-colorado-schools">Colorado School Medicaid Consortium</a></li>
    <li>Colorado Women's Lobby</li>
    <li><a href="http://openmediafoundation.org/node/9582">Community Shares of Colorado</a></li>
    <li>COPD Gene Study</li>
    <li><a href="http://openmediafoundation.org/services/web-design-and-technology-services/dd-sports-medicine-website">D & D Sports Medicine</a></li>
    <li><a href="http://openmediafoundation.org/services/web-design-and-technology-services/denver-foundation-inclusiveness-project-website">Denver Foundation</a></li>
    <li><a href="http://openmediafoundation.org/services/web-design-and-technology-services/denver-kids-inc">Denver Kids</a></li>
    <li>Denver Public Schools</li>
    <li><a href="http://openmediafoundation.org/services/web-design-and-technology-services/employment-gateway">Developmental Disabilities Resource Center</a></li>
     </ul>
      </td>
      <td width="316" valign="top">
     <ul class="noliststyle">
    <li>Elephant Circle</li>
    <li><a href="http://openmediafoundation.org/services/web-design-and-technology-services/free-speech-tv-website">Free Speech TV</a></li>
    <li><a href="http://openmediafoundation.org/services/web-design-and-technology-services/home-o-hope-website-design">Home 'O Hope</a></li>
    <li><a href="http://openmediafoundation.org/node/9583">International Mountain Bike Association</a></li>
    <li><a href="http://openmediafoundation.org/services/web-design-and-technology-services/keep-em-reel-website">Keep 'em Reel</a></li>
    <li>Ken Heim</li>
    <li><a href="http://openmediafoundation.org/services/web-design-and-technology-services/let-us-rise-website">Let Us Rise</a></li>
    <li><a href="http://openmediafoundation.org/services/web-design-and-technology-services/muslims-mountain-west">Muslims of the West</a></li>
    <li><a href="http://openmediafoundation.org/services/web-design-and-technology-services/osteopathic-integrative-medicine-website">Osteopathic Integrative Medicine</a></li>
    <li><a href="http://openmediafoundation.org/services/web-design-and-technology-services/padres-unidos-website-redesign">Padres Unidos</a></li>
    <li><a href="http://openmediafoundation.org/node/9581">Palm Center</a></li>
    <li><a href="http://openmediafoundation.org/services/web-design-and-technology-services/partnership-healthy-colorado-website">Partnership for a Healthy Colorado</a></li>
    <li><a href="http://openmediafoundation.org/services/web-design-and-technology-services/partnership-families-and-children">Partnership for Families and Children</a></li>
    <li><a href="http://openmediafoundation.org/node/9586">Rush Soccer</a></li>
    <li><a href="http://openmediafoundation.org/services/web-design-and-technology-services/susan-kaplan-website">Susan Kaplan</a></li>
    <li><a href="http://openmediafoundation.org/services/web-design-and-technology-services/woodstock-west-movie-website-design">Woodstock West, University of Denver</a></li>
    <li><a href="http://openmediafoundation.org/services/web-design-and-technology-services/verite-fair-hiring-toolkit">Verite, Inc</a></li>
    <li>West Wash Park Neighborhood Association</li>
    <li><a href="http://openmediafoundation.org/services/web-design-and-technology-services/womens-wilderness-institute-website">Women's Wilderness Institute</a></li>
     </ul>
      </td>
    </tr>
  </table>
 </div> <!-- /.inner -->
  </div> <!-- /.outer -->

  <div class="sub education">
 <div class="inner">
  <h2></h2>
  <div class="city-map">
    <a href="http://openmediafoundation.org/datavisualization/index.html" class="map-button"></a>
    <a href="http://openmediafoundation.org/datavisualization/index.html">Click here to open an interactive map of<br />OMF's impact on community education</a>
  </div>

 </div> <!-- /.inner -->
  </div> <!-- /.sub -->

  <div class="sub tools">
 <div class="inner">
  <h2 class="hide">Tools</h2>
  <div id="graph-tools">
    <h4>Shows Submitted to Denver Open Media by Category</h2>
    <img src="/themes/minim/img/ar2011/graph-tools.png" />
  </div>
  <h4>Denver Open Media's Organizational Members</h4>
  <ul class="noliststyle">
    <li>Creative Expressions Center</li>
    <li>Critical Mass Leadership Education</li>
    <li>Denver Foundation</li>
    <li>Denver Human Services:Child Support Enforcement</li>
    <li>Denver Public Library</li>
    <li>Developmental Disabilities Resource Center</li>
    <li>God's Word TV</li>
    <li>Gold Crown Enrichment</li>
    <li>KGNU</li>
    <li>Program to Relocate and Assist Environmental Refugees</li>
    <li>Red Rocks Community College</li>
    <li>The Harmony Project</li>
    <li>Uzeke</li>
  </ul>

 </div> <!-- /.inner -->
  </div> <!-- /.outer -->

  <div class="outer idonors">
 <div class="inner">
  <h2 class="hide">Individual Donors</h2>
  <img src="/themes/minim/img/ar2011/photo-camera.jpg" class="camera" />
  <table>
    <tr>
      <td width="316" valign="top">
     <ul class="noliststyle">
    <li>Adebola Odukoya</li>
    <li>Alex Prain</li>
    <li>Anthony Shawcross</li>
    <li>Candace Grosz</li>
    <li>Carol Tipton</li>
    <li>Cheryl Zeeb</li>
    <li>Claudia Czajkowski</li>
    <li>Darryn Zuehlke</li>
    <li>David Charmatz</li>
    <li>David Elger</li>
    <li>David Marshall</li>
    <li>David Whitmore</li>
    <li>Deborah “Stokes” Lastowka</li>
    <li>Diedonne Kalala</li>
    <li>Emily & Colm Kinsella</li>
    <li>Erin Yepis</li>
    <li>Eugene Engle</li>
    <li>Fiona Baldwin</li>
    <li>Frank Gray</li>
     </ul>
      </td>
      <td width="316" valign="top">
     <ul class="noliststyle">
    <li>Fred Dixon</li>
    <li>Geoffrey Gordon</li>
    <li>Glenna Norvelle</li>
    <li>Helen Trencher</li>
    <li>Henry Siegel</li>
    <li>Howard & Sally Shawcross</li>
    <li>Jeff Payne</li>
    <li>Jeff Villano</li>
    <li>Jennifer Collins</li>
    <li>Jerome Borison</li>
    <li>Jesse Cordova</li>
    <li>Joanne Thompson</li>
    <li>John Groom</li>
    <li>John “Thatch” Montgomery</li>
    <li>Jon Gillam</li>
    <li>Kathryn Ake</li>
    <li>Laura Levi</li>
    <li>Lori Autterson</li>
    <li>Marci Hladik</li>
     </ul>
      </td>
      <td width="316" valign="top">
     <ul class="noliststyle">
    <li>Margaret Bacon</li>
    <li>Marla Rodriguez</li>
    <li>Mary Gattas</li>
    <li>Mary Hendrick</li>
    <li>Mary Kaye Shawcross</li>
    <li>Pat Cure</li>
    <li>Rachell M. Branham</li>
    <li>Rebecca Norman</li>
    <li>Rita Carrington</li>
    <li>Ron Otsuka</li>
    <li>Scott Webber</li>
    <li>Seth Pensack-Rinehart</li>
    <li>Stephen & Karen Tool</li>
    <li>Steve Toth</li>
    <li>Stewart Shofner</li>
    <li>Susan Scott</li>
    <li>Tanya Ishikawa</li>
    <li>Victoria Stott</li>
    <li>Voradel Carey</li>
     </ul>
      </td>
    </tr>
  </table>
 </div> <!-- /.inner -->
  </div> <!-- /.outer -->

  <div class="outer cdonors">
 <div class="inner">
  <h2 class="hide">2011 Corporate, Foundation, and In-Kind Donors</h2>
  <ul class="noliststyle">
    <li>Google</li>
    <li>Q Digital</li>
    <li>Black Transplants Action Committee</li>
    <li>Growing Venture Solutions</li>
    <li>Denver Foundation</li>
    <li>Faegre & Benson Foundation</li>
    <li>Community First Foundation</li>
    <li>Knight Foundation</li>
    <li>Rose Foundation</li>
    <li>Gay & Lesbian Fund for Colorado</li>
    <li>Colorado Creates</li>
    <li>City and County of Denver, Office of Telecommunications</li>
    <li>NEWSED (Cinco Booth)</li>
  </ul>
 </div> <!-- /.inner -->
  </div> <!-- /.outer -->

  <div class="outer volunteers">
 <div class="inner">
  <h2 class="hide">2011 Volunteers and Committee Members</h2>
  <img src="/themes/minim/img/ar2011/photo-shootnedit.jpg" class="camera" />

  <table>
    <tr>
      <td width="316" valign="top">
     <h4>2011 Committee Members</h4>
     <ul class="noliststyle">
    <li>Jennifer Collins</li>
    <li>Ann Theis</li>
    <li>Adam Mordecai</li>
    <li>John Montgomery</li>
    <li>Flor Blake</li>
    <li>Tanya Ishikawa</li>
    <li>Brian Hiatt</li>
    <li>Sharee Hiatt</li>
    <li>Jared Petsche</li>
    <li>Erin Yepis</li>
    <li>Tony Shawcross</li>
    <li>Cheryl Zeeb</li>
    <li>Rita Carrington</li>
    <li>Henry Siegel</li>
    <li>Lindita Winter-Torres</li>
    <li>Vicki Stott</li>
    <li>Lynda Cox</li>
    <li>Kara Sargent</li>
    <li>Ron Otsuka</li>
    <li>Jeff Villano</li>
    <li>Lynne Sprague</li>
     </ul>
      </td>
      <td width="316" valign="top">
     <h4>2011 Interns</h4>
     <ul class="noliststyle">
    <li>Kenneth Linn</li>
    <li>Chris “Lucky” Loyd</li>
    <li>Richard Wiley</li>
    <li>Dave Maddox</li>
    <li>Becca Marion</li>
    <li>Vashti Mathis</li>
    <li>Josh Mattison</li>
    <li>Anna Moore</li>
    <li>Sam Smith</li>
    <li>Leon Moore, Jr</li>
    <li>John Sayles</li>
    <li>Ben Hand-Bender</li>
    <li>Grant Hammel</li>
    <li>Emily Lumia</li>
    <li>Joseph Meersman</li>
    <li>Jared Petsche</li>
    <li>Michelle Vendenga</li>
    <li>Traci Jensen</li>
    <li>Mariya Pashaliyska</li>
    <li>Julie Miller</li>
    <li>Dewayne Jackson</li>
     </ul>
      </td>
      <td width="316" valign="top">
     <ul class="noliststyle">
    <li>Quinn Marchman</li>
    <li>Rachel Shaver</li>
    <li>Charlie Smith</li>
    <li>Micah Henderson</li>
    <li>Nicholas Sanchez</li>
    <li>Charlotte Southern</li>
     </ul>
      </td>
    </tr>
  </table>
 </div> <!-- /.inner -->
  </div> <!-- /.outer -->

  <div class="outer highlights">
 <div class="inner">
  <h2 class="hide">2011 Program Highlights and Accomplishments</h2>
 </div> <!-- /.inner -->
  </div> <!-- /.outer -->

  <div class="sub services-2">
 <div class="inner">

   <div class="bbottom"><table width="935">
  <tr>
    <td valign="top"><h3>Video Production</h3>
    <ul>
   <li>In addition to daily coverage of the State House & Senate, OMF added a number of informational videos to further illuminate the legislative process, available online at <a href="http://www.coloradochannel.net/additional-video-content">coloradochannel.net</a>.</li>
   <li>OMF produced a series of videos for the Denver Art Museum’s <a href="http://www.denverartmuseum.org/exhibitions/xu-beihong-pioneer-modern-chinese-painting">Xu Beihong exhibit</a>, including content for their new <a href="http://itunes.apple.com/us/app/dam-scout/id440280859?mt=8">DAMScout app</a>.</li>
   <li>OMF partnered with <a href="http://www.tedxmilehigh.com/">TEDx MileHigh</a> for their first annual event, resulting in <a href="http://www.tedxmilehigh.com/videos">20 great videos</a> showcasing innovative Coloradans presenting the ‘talk of their life’.</li>
    </ul>
    </td>
    <td width="600"><iframe width="600" height="338" src="http://www.youtube.com/embed/-mDx0gZQsLo" frameborder="0" allowfullscreen></iframe></td>
  </tr>
   </table></div>

   <table width="935">
  <tr>
    <td valign="top"><h3>Web Development</h3>
    <ul>
   <li>After years of partnering with FSTV, OMF’s Web Team took on development of the <a href="http://freespeech.org/">Free Speech TV’s website</a>, including an upgrade to Drupal 7, new features like the <a href="http://freespeech.org/media-library">Media Library</a> and interactive <a href="https://www.freespeech.org/join-fstv">Donation</a> area, and tablet and mobile accessibility.</li>
   <li>OMF hosted <a href="http://projectfreshkicks.com/">Project FreshKicks</a>, a 24-hour web design event held in collaboration with Q Digital.  The project resulted in the creation of pro-bono websites for nine deserving local nonprofits.</li>
    </ul>
    </td>
    <td width="600"><img src="/themes/minim/img/ar2011/photo-freespeetv.jpg" class="" /></td>
  </tr>
   </table>
   
 </div> <!-- /.inner -->
  </div> <!-- /.sub -->

  <div class="sub education-2">
 <div class="inner">

   <table width="935">
  <tr>
    <td valign="top">
    <ul>
   <li>The addition of our Learning Lab allowed us to expand our class offerings with <a href="http://openmediafoundation.org/education">15 new multimedia classes</a>; including Final Cut Pro X, the Adobe Suite, and a variety of <a href="http://openmediafoundation.org/education/digital-audio-production">Digital Audio Production and 3D Animation</a>/Motion Graphics programs.</li>
   <li>OMF partnered with the <a href="http://www.denverfilm.org/">Denver Film Society</a> for their annual Young Filmmaker Workshops.  For 4 weeks, OMF hosted over 80 young filmmakers who wrote, produced, and edited their own short film, using <a href="http://www.openmediafoundation.org/community-tools">OMF's resources</a>.</li>
   <li>OMF began broadcasting and live-streaming select classes in 2011. For those without broadband internet or cable at home, the <a href="http://denverlibrary.org/">Denver Public Library</a> now provides a dedicated lab space to join OMF’s <a href="http://openmediafoundation.org/education/video-production/field-production-class">live-stream courses</a>.</li>
    </ul>
    </td>
    <td width="600"><iframe width="600" height="338" src="http://www.youtube.com/embed/5DWLyDvWelE" frameborder="0" allowfullscreen></iframe></td>
  </tr>
   </table>

 </div> <!-- /.inner -->
  </div> <!-- /.sub -->

  <div class="sub tools-2">
 <div class="inner">

   <table width="935">
  <tr>
    <td valign="top">
    <ul>
   <li>Denver Open Media starts recording programs in High Definition after the studio upgrade was completed in 2010.</li>
   <li>The DOM membership package expands to offer more tools to the community through the 20-seat Learning Lab, equipped with top-of the line iMacs and the latest software from Apple, Adobe, and more.</li>
   <li>On Friday, August 5th, <a href="http://kindacollective.org/">Kinda Collective</a> teamed up with the Open Media Foundation to host 'Here Is How,' an event that was a block party, public forum, art exhibit, and live television broadcast for Denver Open Media's First Friday.</li>
   <li><a href="http://denveropenmedia.org/">Denver Open Media</a>’s online archive was migrated to the hosting services provided by <a href="http://archive.org/details/denveropenmedia">Archive.org</a></li>
    </ul>
    </td>
    <td width="600"><iframe width="600" height="338" src="http://www.youtube.com/embed/L6ndFLvQFuA" frameborder="0" allowfullscreen></iframe></td>
  </tr>
   </table>

 </div> <!-- /.inner -->
  </div> <!-- /.sub -->

  <div class="outer financials">
 <div class="inner">
  <h2 class="hide">Financials</h2>
 </div> <!-- /.inner -->
  </div> <!-- /.outer -->
