<div id="logo" class="float-left height-xxs width-m">
  <a href="{{ front_url }}" class="padding-xs" title="{{ 'Home'|t }}" rel="home">
    <img src="{{ image_url }}" alt="{{ 'Home'|t }}"/>
    <div class="text-xxs italic float-right">A higher definition of media.</div> 
  </a>
</div>
