<div class="center-block clearfix">
  {% if fields.field_portfolio_preview_im.content %}
    <div class="float-right padding-xxs bg-white fit-image">
      {{ fields.field_portfolio_preview_im.content }}
    </div>
  {% endif %}

  <div class="content padding-xs">
    <div>
      <div class="red text-xl">{{fields.title.content}}</div>
      {% if fields.body.content %}
        {{fields.body.content}}
      {% endif %}
      <div class="bg-red float-left">
        <a href="{{ fields.path_1.content }}" class="text-xs padding-xs block-link">Learn More</a>
      </div>
    </div>
  </div>
</div>
